# Functions

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from urllib.parse import urljoin
import pandas as pd
import time
import random
from bs4 import BeautifulSoup
import re
from datetime import datetime

In [2]:
def login_to_islands(driver):
    """Login if on login page, otherwise pass"""
    LOGIN_URL = "https://islands.smp.uq.edu.au/login.php"
    name = "matthew.stoebe@colostate.edu"
    pas = "TheIslands"
    
    try:
        # Only login if we're on login page
        if LOGIN_URL in driver.current_url:
            wait = WebDriverWait(driver, 10)
            wait.until(EC.presence_of_element_located((By.NAME, "email")))
            driver.find_element(By.NAME, "email").send_keys(name)
            driver.find_element(By.NAME, "word").send_keys(pas)
            driver.find_element(By.CSS_SELECTOR, "input[type='submit'][value='Sign In']").click()
            return wait
            
    except Exception as e:
        print(f"Login attempt failed: {e}")
        raise
        
    # Return new wait object if not on login page
    return WebDriverWait(driver, 10)

In [3]:
def get_fresh_driver():
    """Create new driver with anti-detection measures"""
    options = webdriver.ChromeOptions()
    options.add_argument('--user-agent=Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36')
    options.add_argument('--disable-blink-features=AutomationControlled')
    options.add_experimental_option("excludeSwitches", ["enable-automation"])
    options.add_experimental_option('useAutomationExtension', False)
    options.add_argument("--window-size=1920,1080")
    options.add_argument("--disable-dev-shm-usage")
    options.add_argument("--no-sandbox")
    options.add_experimental_option("detach", True)
    options.add_argument('--user-data-dir=/tmp/temp_profile_' + str(random.randint(1, 1000)))
    
    driver = webdriver.Chrome(options=options)
    driver.get("https://islands.smp.uq.edu.au/login.php")
    wait = login_to_islands(driver)  # Use existing login function
    
    return driver, wait

# Scrape Active Contacts

In [4]:
options = webdriver.ChromeOptions()
options.add_experimental_option("detach", True)
driver = webdriver.Chrome(options=options)

try:
    # Navigate and login
    driver.get("https://islands.smp.uq.edu.au/login.php")
    wait = login_to_islands(driver)
    
    # Click Contacts link instead of direct navigation
    contacts_link = wait.until(
        EC.element_to_be_clickable((By.CSS_SELECTOR, "a.menu[href='project.php']"))
    )
    contacts_link.click()
    
    # Get contact cards
    cards = wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "div.contact")))
    
    contacts = []
    for card in cards:
        a = card.find_element(By.CSS_SELECTOR, "div.name a")
        name = a.text.replace("\n", " ")
        profile_url = urljoin(driver.current_url, a.get_attribute("href"))
        contacts.append({"name": name, "profile_url": profile_url})
    
finally:
    driver.quit()

# Scrape Contact Data

In [5]:
def get_contact_data():
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    
    # Find all td elements with colspan="2"
    tds = soup.find_all('td', attrs={'colspan': '2'})
    
    # Extract the relevant info using regex patterns
    age_pattern = r'(\d+) years old'
    money_pattern = r'\$([0-9,]+)'
    location_pattern = r'Lives in ([A-Za-z]+) (\d+)'
    
    for td in tds:
        text = td.get_text()
        
        # Extract age
        age_match = re.search(age_pattern, text)
        if age_match:
            age = int(age_match.group(1))
            
        # Extract money    
        money_match = re.search(money_pattern, text)
        if money_match:
            money = int(money_match.group(1).replace(',', ''))
            
        # Extract location
        location_match = re.search(location_pattern, text)
        if location_match:
            city = location_match.group(1)
            house_number = int(location_match.group(2))

    return age, money, city, house_number



def do_task(section = 'Blood Tests', task_name = 'Blood Melatonin'):
    """Perform a task in the specified section"""
   
    # Click Tasks tab
    tasks_tab = wait.until(EC.element_to_be_clickable((By.ID, "t2tab")))
    tasks_tab.click()
    
    # Click Blood Tests section
    blood_tests = wait.until(EC.element_to_be_clickable(
        (By.XPATH, f"//div[@class='submenu'][contains(text(),'{section}')]")))
    blood_tests.click()
    
    # Click melatonin test
    melatonin = wait.until(EC.element_to_be_clickable(
        (By.XPATH, f"//span[@class='task'][contains(text(),'{task_name}')]")))
    melatonin.click()
    # print("Started melatonin test")

    return task_name



def get_task_result(task_name='Blood Melatonin'):
    """Get most recent result for specified task"""
    try:
        tasks_tab = wait.until(EC.element_to_be_clickable((By.ID, "t2tab")))
        tasks_tab.click()
        
        html_source = driver.page_source
        soup = BeautifulSoup(html_source, 'html.parser')
        
        task_divs = soup.find_all('div', class_='taskresult')
        
        for task_div in task_divs:
            current_task = task_div.find('div', class_='taskresulttask')
            if current_task and current_task.text == task_name:
                timestamp_div = task_div.find('div', class_='taskresulttd')
                result_div = task_div.find('div', class_='taskresultresult')
                
                if timestamp_div and result_div:
                    return (
                        task_name,
                        timestamp_div.text,
                        result_div.text
                    )
                
    except Exception as e:
        print(f"Error getting task result: {e}")

# Measure and Test Melatonin Levels

In [9]:


MAX_ATTEMPTS = 3 # Max number of fresh drivers
CONTACTS_TO_PROCESS = 100  # Number of successful contacts to get before stopping
DO_TASK = False  # Set to True to run the test

driver, wait = get_fresh_driver()
successful_scrapes = 0
attempt_count = 0

try:
    for contact in contacts:
        if attempt_count >= MAX_ATTEMPTS:
            print(f"Reached maximum attempts ({MAX_ATTEMPTS}). Stopping.")
            break
            
        if successful_scrapes >= CONTACTS_TO_PROCESS:
            print(f"Successfully processed {CONTACTS_TO_PROCESS} contacts. Stopping.")
            break
            
        try:
            time.sleep(random.uniform(2, 4))
            
            # Extract islander ID and navigate
            url_parts = contact['profile_url'].split('=')
            if len(url_parts) > 1:
                islander_id = url_parts[1]
                profile_url = f"https://islands.smp.uq.edu.au/islander.php?id={islander_id}"
                
                driver.get(profile_url)
                wait.until(EC.presence_of_element_located((By.ID, "content")))
                
                # Get contact data
                age, money, city, house_number = get_contact_data()
                contact['age'] = age
                contact['money'] = money
                contact['city'] = city
                contact['house_number'] = house_number


                if DO_TASK:
                    do_task(section = 'Blood Tests', task_name = 'Blood Melatonin')

                else:
                    task_name, task_timestamp, task_result = get_task_result(task_name = 'Blood Melatonin')
                    contact["task_name"] = task_name
                    contact["task_timestamp"] = task_timestamp
                    
                    if task_result:
                        contact['task_result'] = task_result
                        print(f"Successfully processed {contact['name']} with a melatonin level of {contact['task_result']}")


                contact['last_checkin'] = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

                successful_scrapes += 1
                
        except Exception as e:
            print(f"Error processing {contact['name']}: {e}")
            attempt_count += 1
            # driver.quit()
            if attempt_count < MAX_ATTEMPTS:
                driver, wait = get_fresh_driver()
            continue
            
finally:
    print(f"\nSummary:")
    print(f"Successful scrapes: {successful_scrapes}")
    print(f"Failed attempts: {attempt_count}")
    # driver.quit()

# Create DataFrame from processed contacts
melatonin_readings_df = pd.DataFrame(contacts[:successful_scrapes])

# melatonin_readings_df.to_csv("pre_diet_melatonin_levels.csv", index=False)
# print("Data saved to pre_diet_melatonin_levels.csv")

Successfully processed Akane Abels with a melatonin level of 13.5 pg/mL
Successfully processed Leon Bager with a melatonin level of 5.1 pg/mL
Successfully processed Paul Bager with a melatonin level of 33.4 pg/mL
Successfully processed Britt Blomgren with a melatonin level of 38.5 pg/mL
Successfully processed Elias Blomgren with a melatonin level of 22.0 pg/mL
Successfully processed Tobias Blomgren with a melatonin level of 5.2 pg/mL
Successfully processed Franziska Brandt with a melatonin level of 41.7 pg/mL
Successfully processed Arvid Carlsen with a melatonin level of 60.1 pg/mL
Successfully processed Elsa Carlsen with a melatonin level of 39.8 pg/mL
Successfully processed Tomas Carlsen with a melatonin level of 33.5 pg/mL
Successfully processed Yash Chatterjee with a melatonin level of 11.3 pg/mL
Successfully processed Austin Collins with a melatonin level of 68.0 pg/mL
Successfully processed Josh Collins with a melatonin level of 19.5 pg/mL
Successfully processed Amie Connolly with a melatonin level of 18.4 pg/mL
Successfully processed Florian Eklund with a melatonin level of 12.5 pg/mL
Successfully processed Halden Eklund with a melatonin level of 28.2 pg/mL
Successfully processed Hanne Eklund with a melatonin level of 5.7 pg/mL
Successfully processed Jana Erickson with a melatonin level of 17.1 pg/mL
Successfully processed Petra Franke with a melatonin level of 40.2 pg/mL
Successfully processed Hanne Grahn with a melatonin level of 9.8 pg/mL
Successfully processed Auna Hall with a melatonin level of 62.6 pg/mL
Successfully processed Jermaine Hall with a melatonin level of 2.7 pg/mL
Successfully processed Manami Hall with a melatonin level of 13.9 pg/mL
Successfully processed Summer Hall with a melatonin level of 45.8 pg/mL
Successfully processed Anastasia Ibsen with a melatonin level of 6.4 pg/mL
Successfully processed Brigit Jensen with a melatonin level of 86.7 pg/mL
Successfully processed Harold Jensen with a melatonin level of 7.9 pg/mL
Successfully processed Devak Kaur with a melatonin level of 50.6 pg/mL
Successfully processed Chloe Kimura with a melatonin level of 54.5 pg/mL
Successfully processed Niamh Kimura with a melatonin level of 32.9 pg/mL
Successfully processed Shauna Kimura with a melatonin level of 15.0 pg/mL
Successfully processed Anita Kuhn with a melatonin level of 51.0 pg/mL
Successfully processed Gerik Madsen with a melatonin level of 27.4 pg/mL
Successfully processed Hallmar Madsen with a melatonin level of 71.6 pg/mL
Successfully processed Inga Maurer with a melatonin level of 63.1 pg/mL
Successfully processed Anamica Morris with a melatonin level of 3.3 pg/mL
Successfully processed Jack Morris with a melatonin level of 77.1 pg/mL
Successfully processed Jun Morris with a melatonin level of 73.0 pg/mL
Successfully processed Sian Morris with a melatonin level of 7.9 pg/mL
Successfully processed Taylor Morris with a melatonin level of 9.5 pg/mL
Successfully processed Anastasia Olsen with a melatonin level of 64.5 pg/mL
Successfully processed Malena Olsen with a melatonin level of 16.7 pg/mL
Successfully processed Tyr Olsen with a melatonin level of 48.5 pg/mL
Successfully processed Adelie Pallesen with a melatonin level of 69.4 pg/mL
Successfully processed Noah Pallesen with a melatonin level of 29.0 pg/mL
Successfully processed Jessica Price with a melatonin level of 9.7 pg/mL
Successfully processed Jules Puri with a melatonin level of 55.1 pg/mL
Successfully processed Daichi Regan with a melatonin level of 7.7 pg/mL
Successfully processed Hannah Regan with a melatonin level of 35.2 pg/mL
Successfully processed Uwe Richter with a melatonin level of 4.3 pg/mL
Successfully processed Lysiane Rousseau with a melatonin level of 86.7 pg/mL
Successfully processed Dennis Scholz with a melatonin level of 28.0 pg/mL
Successfully processed Yumiko Shimada with a melatonin level of 50.3 pg/mL
Successfully processed Dane Solberg with a melatonin level of 60.3 pg/mL
Successfully processed Elias Solberg with a melatonin level of 33.7 pg/mL
Successfully processed Felix Solberg with a melatonin level of 38.6 pg/mL
Successfully processed Selina Solberg with a melatonin level of 35.4 pg/mL
Successfully processed Soren Solberg with a melatonin level of 53.1 pg/mL
Successfully processed Torvald Solberg with a melatonin level of 28.6 pg/mL
Successfully processed Vanessa Solberg with a melatonin level of 32.8 pg/mL
Successfully processed Anund Sorensen with a melatonin level of 11.0 pg/mL
Successfully processed Arvid Sorensen with a melatonin level of 47.8 pg/mL
Successfully processed Emma Sorensen with a melatonin level of 40.4 pg/mL
Successfully processed Mia Sorensen with a melatonin level of 73.4 pg/mL
Successfully processed Elias Svendsen with a melatonin level of 70.3 pg/mL
Successfully processed Satomi Ueta with a melatonin level of 67.2 pg/mL
Successfully processed Izna Varma with a melatonin level of 5.6 pg/mL
Successfully processed Kazuki Wilson with a melatonin level of 29.5 pg/mL
Successfully processed Blade Yamada with a melatonin level of 5.0 pg/mL
Successfully processed Deepa Zaman with a melatonin level of 47.3 pg/mL
Successfully processed Nadia Zaman with a melatonin level of 38.1 pg/mL

Summary:
Successful scrapes: 71
Failed attempts: 0

In [10]:
display(melatonin_readings_df)

,name,profile_url,age,money,city,house_number,last_checkin,task_name,task_timestamp,task_result
0,Akane Abels,https://islands.smp.uq.edu.au/islander.php?id=...,49,8531,Bjurholm,384,2025-05-02 10:40:42,Blood Melatonin,20/365 10:33,13.5 pg/mL
1,Leon Bager,https://islands.smp.uq.edu.au/islander.php?id=...,62,3173,Vardo,659,2025-05-02 10:40:47,Blood Melatonin,20/365 10:33,5.1 pg/mL
2,Paul Bager,https://islands.smp.uq.edu.au/islander.php?id=...,35,5232,Hofn,297,2025-05-02 10:40:51,Blood Melatonin,20/365 10:33,33.4 pg/mL
3,Britt Blomgren,https://islands.smp.uq.edu.au/islander.php?id=...,29,5255,Hofn,297,2025-05-02 10:40:55,Blood Melatonin,20/365 10:33,38.5 pg/mL
4,Elias Blomgren,https://islands.smp.uq.edu.au/islander.php?id=...,39,1713,Bjurholm,183,2025-05-02 10:41:00,Blood Melatonin,20/365 10:34,22.0 pg/mL
...,...,...,...,...,...,...,...,...,...,...
66,Izna Varma,https://islands.smp.uq.edu.au/islander.php?id=...,81,654,Bjurholm,229,2025-05-02 10:45:06,Blood Melatonin,20/365 10:38,5.6 pg/mL
67,Kazuki Wilson,https://islands.smp.uq.edu.au/islander.php?id=...,39,8002,Hofn,185,2025-05-02 10:45:10,Blood Melatonin,20/365 10:38,29.5 pg/mL
68,Blade Yamada,https://islands.smp.uq.edu.au/islander.php?id=...,68,556,Bjurholm,107,2025-05-02 10:45:14,Blood Melatonin,20/365 10:38,5.0 pg/mL
69,Deepa Zaman,https://islands.smp.uq.edu.au/islander.php?id=...,31,7266,Hofn,188,2025-05-02 10:45:17,Blood Melatonin,20/365 10:38,47.3 pg/mL
70,Nadia Zaman,https://islands.smp.uq.edu.au/islander.php?id=...,28,6663,Hofn,715,2025-05-02 10:45:21,Blood Melatonin,20/365 10:38,38.1 pg/mL

In [11]:
display(melatonin_readings_df)
melatonin_readings_df.to_csv("post_diet_melatonin_levels.csv", index=False)
print("Data saved to post_diet_melatonin_levels.csv")

,name,profile_url,age,money,city,house_number,last_checkin,task_name,task_timestamp,task_result
0,Akane Abels,https://islands.smp.uq.edu.au/islander.php?id=...,49,8531,Bjurholm,384,2025-05-02 10:40:42,Blood Melatonin,20/365 10:33,13.5 pg/mL
1,Leon Bager,https://islands.smp.uq.edu.au/islander.php?id=...,62,3173,Vardo,659,2025-05-02 10:40:47,Blood Melatonin,20/365 10:33,5.1 pg/mL
2,Paul Bager,https://islands.smp.uq.edu.au/islander.php?id=...,35,5232,Hofn,297,2025-05-02 10:40:51,Blood Melatonin,20/365 10:33,33.4 pg/mL
3,Britt Blomgren,https://islands.smp.uq.edu.au/islander.php?id=...,29,5255,Hofn,297,2025-05-02 10:40:55,Blood Melatonin,20/365 10:33,38.5 pg/mL
4,Elias Blomgren,https://islands.smp.uq.edu.au/islander.php?id=...,39,1713,Bjurholm,183,2025-05-02 10:41:00,Blood Melatonin,20/365 10:34,22.0 pg/mL
...,...,...,...,...,...,...,...,...,...,...
66,Izna Varma,https://islands.smp.uq.edu.au/islander.php?id=...,81,654,Bjurholm,229,2025-05-02 10:45:06,Blood Melatonin,20/365 10:38,5.6 pg/mL
67,Kazuki Wilson,https://islands.smp.uq.edu.au/islander.php?id=...,39,8002,Hofn,185,2025-05-02 10:45:10,Blood Melatonin,20/365 10:38,29.5 pg/mL
68,Blade Yamada,https://islands.smp.uq.edu.au/islander.php?id=...,68,556,Bjurholm,107,2025-05-02 10:45:14,Blood Melatonin,20/365 10:38,5.0 pg/mL
69,Deepa Zaman,https://islands.smp.uq.edu.au/islander.php?id=...,31,7266,Hofn,188,2025-05-02 10:45:17,Blood Melatonin,20/365 10:38,47.3 pg/mL
70,Nadia Zaman,https://islands.smp.uq.edu.au/islander.php?id=...,28,6663,Hofn,715,2025-05-02 10:45:21,Blood Melatonin,20/365 10:38,38.1 pg/mL

Data saved to post_diet_melatonin_levels.csv

# Randomly Assign

In [77]:
diets = ["Ketogenic Diet 14 days", "Vegetarian Diet 14 days", "no change"]

In [78]:
contacts_df = pd.read_csv('contacts.csv')

# Randomly assign a diet to each house number (block group)
house_numbers = contacts_df['house_number'].unique()

# Create a dictionary to map house numbers to dietÍs
house_to_diet = {house: random.choice(diets) for house in house_numbers}

# Assign the diet to each contact based on their house number
contacts_df['diet'] = contacts_df['house_number'].map(house_to_diet)

contacts_df.to_csv('contacts_diets.csv', index=False)

In [79]:
contacts_df = pd.read_csv('contacts_diets.csv')

# Convert contacts_df to a dictionary or list of dictionaries if necessary
contacts = contacts_df.to_dict(orient='records')

# Assign Diets

In [81]:
MAX_ATTEMPTS = 3  # Max number of fresh drivers
CONTACTS_TO_PROCESS = 100  # Number of successful contacts to get before stopping
DO_TASK = True  # Set to True to run the test

driver, wait = get_fresh_driver()
successful_scrapes = 0
attempt_count = 0

try:
    for contact in contacts:
        if attempt_count >= MAX_ATTEMPTS:
            print(f"Reached maximum attempts ({MAX_ATTEMPTS}). Stopping.")
            break
            
        if successful_scrapes >= CONTACTS_TO_PROCESS:
            print(f"Successfully processed {CONTACTS_TO_PROCESS} contacts. Stopping.")
            break
            
        try:
            time.sleep(random.uniform(2, 4))
            
            # Extract islander ID and navigate
            url_parts = contact['profile_url'].split('=')
            if len(url_parts) > 1:
                islander_id = url_parts[1]
                profile_url = f"https://islands.smp.uq.edu.au/islander.php?id={islander_id}"
                
                driver.get(profile_url)
                wait.until(EC.presence_of_element_located((By.ID, "content")))
                
                # Get contact data
                age, money, city, house_number = get_contact_data()
                contact['age'] = age
                contact['money'] = money
                contact['city'] = city
                contact['house_number'] = house_number

                # Assign task based on diet value
                if DO_TASK and contact['diet'] != "no change":
                    # Task name will be the diet value
                    try:
                        do_task(section='Interventions', task_name=contact['diet'])
                        print(f"Assigned {contact['name']} to {contact['diet']}")
                    except Exception as e:
                        print(e)
                        continue
                else:
                    print(f"Assigned {contact['name']} to controll")

 
                successful_scrapes += 1
                
        except Exception as e:
            print(f"Error processing {contact['name']}: {e}")
            attempt_count += 1
            # driver.quit()
            if attempt_count < MAX_ATTEMPTS:
                driver, wait = get_fresh_driver()
            continue
            
finally:
    print(f"\nSummary:")
    print(f"Successful scrapes: {successful_scrapes}")
    print(f"Failed attempts: {attempt_count}")
    # driver.quit()

Assigned Akane Abels to controll
Assigned Leon Bager to Vegetarian Diet 14 days
Message:

Assigned Nihal Bahadur to controll
Message:

Assigned Elias Blomgren to Ketogenic Diet 14 days
Message:

Assigned Franziska Brandt to Vegetarian Diet 14 days
Assigned Ryan Brown to Ketogenic Diet 14 days
Assigned Arvid Carlsen to controll
Assigned Elsa Carlsen to controll
Assigned Tomas Carlsen to Ketogenic Diet 14 days
Assigned Yash Chatterjee to controll
Assigned Austin Collins to controll
Assigned Hailey Collins to Ketogenic Diet 14 days
Assigned Josh Collins to controll
Assigned Amie Connolly to Vegetarian Diet 14 days
Assigned Florian Eklund to Ketogenic Diet 14 days
Assigned Halden Eklund to Vegetarian Diet 14 days
Assigned Hanne Eklund to Ketogenic Diet 14 days
Assigned Jana Erickson to Vegetarian Diet 14 days
Assigned Petra Franke to Vegetarian Diet 14 days
Assigned Auna Hall to Ketogenic Diet 14 days
Assigned Jermaine Hall to Vegetarian Diet 14 days
Assigned Manami Hall to Ketogenic Diet 14 days
Assigned Summer Hall to Vegetarian Diet 14 days
Assigned Brigit Jensen to Vegetarian Diet 14 days
Assigned Harold Jensen to controll
Assigned Devak Kaur to Vegetarian Diet 14 days
Assigned Chloe Kimura to controll
Assigned Niamh Kimura to Ketogenic Diet 14 days
Assigned Shauna Kimura to controll
Assigned Anita Kuhn to Ketogenic Diet 14 days
Assigned Gerik Madsen to Ketogenic Diet 14 days
Assigned Hallmar Madsen to Ketogenic Diet 14 days
Assigned Inga Maurer to controll
Assigned Alice McCarthy to Vegetarian Diet 14 days
Assigned Rose McCarthy to Vegetarian Diet 14 days
Assigned Anamica Morris to controll
Assigned Jack Morris to Vegetarian Diet 14 days
Assigned Jun Morris to controll
Assigned Sian Morris to Vegetarian Diet 14 days
Assigned Taylor Morris to Ketogenic Diet 14 days
Assigned Anastasia Olsen to controll
Assigned Malena Olsen to controll
Assigned Tyr Olsen to Vegetarian Diet 14 days
Assigned Adelie Pallesen to controll
Assigned Noah Pallesen to controll
Assigned Jessica Price to Vegetarian Diet 14 days
Assigned Jules Puri to controll
Assigned Daichi Regan to Vegetarian Diet 14 days
Assigned Hannah Regan to Vegetarian Diet 14 days
Assigned Uwe Richter to controll
Assigned Lysiane Rousseau to controll
Assigned Dennis Scholz to controll
Assigned Yumiko Shimada to Ketogenic Diet 14 days
Assigned Bernard Solberg to Vegetarian Diet 14 days
Assigned Dane Solberg to Vegetarian Diet 14 days
Assigned Elias Solberg to Ketogenic Diet 14 days
Assigned Felix Solberg to Vegetarian Diet 14 days
Assigned Ole Solberg to Vegetarian Diet 14 days
Assigned Selina Solberg to Ketogenic Diet 14 days
Assigned Soren Solberg to Ketogenic Diet 14 days
Assigned Torvald Solberg to Ketogenic Diet 14 days
Assigned Vanessa Solberg to Ketogenic Diet 14 days
Assigned Arvid Sorensen to Vegetarian Diet 14 days
Assigned Emma Sorensen to controll
Assigned Mia Sorensen to Ketogenic Diet 14 days
Assigned Murali Sultana to controll
Assigned Elias Svendsen to controll
Assigned Satomi Ueta to Vegetarian Diet 14 days
Assigned Izna Varma to Vegetarian Diet 14 days
Assigned Kazuki Wilson to Ketogenic Diet 14 days
Assigned Naoto Wilson to controll
Assigned Blade Yamada to controll
Assigned Deepa Zaman to Vegetarian Diet 14 days
Assigned Nadia Zaman to controll

Summary:
Successful scrapes: 74
Failed attempts: 0

# Join Pre data with Post Data

In [20]:
pre_diet_melatonin_readings_df = pd.read_csv("pre_diet_melatonin_levels.csv")[['name', 'last_checkin', 'task_name', 'task_timestamp', 'task_result']]
post_diet_melatonin_readings_df = pd.read_csv("post_diet_melatonin_levels.csv")[['name', 'last_checkin', 'task_name', 'task_timestamp', 'task_result']]
diet = pd.read_csv("contacts_diets.csv")
contacts_df = pd.read_csv("pre_contacts.csv")

contacts_diets = pd.merge(contacts_df, diet[['name', 'diet']], on='name', how='left')
contacts_diets_01 = pd.merge(contacts_diets, pre_diet_melatonin_readings_df, on='name', how='left')
contacts_diets_02 = pd.merge(contacts_diets_01, post_diet_melatonin_readings_df, suffixes=('_pre', '_post'), on='name', how='left')

display(contacts_diets_02)

,name,profile_url,age,money,city,house_number,diet,last_checkin_pre,task_name_pre,task_timestamp_pre,task_result_pre,last_checkin_post,task_name_post,task_timestamp_post,task_result_post
0,Akane Abels,https://islands.smp.uq.edu.au/islander.php?id=...,49,8522.0,Bjurholm,384,no change,2025-04-25 11:50:19,Blood Melatonin,13/365 11:40,12.2 pg/mL,2025-05-02 10:40:42,Blood Melatonin,20/365 10:33,13.5 pg/mL
1,Leon Bager,https://islands.smp.uq.edu.au/islander.php?id=...,62,3340.0,Vardo,659,Vegetarian Diet 14 days,2025-04-25 11:50:23,Blood Melatonin,13/365 11:40,5.4 pg/mL,2025-05-02 10:40:47,Blood Melatonin,20/365 10:33,5.1 pg/mL
2,Paul Bager,https://islands.smp.uq.edu.au/islander.php?id=...,35,5071.0,Hofn,297,Ketogenic Diet 14 days,2025-04-25 11:50:28,Blood Melatonin,13/365 11:40,35.7 pg/mL,2025-05-02 10:40:51,Blood Melatonin,20/365 10:33,33.4 pg/mL
3,Nihal Bahadur,https://islands.smp.uq.edu.au/islander.php?id=...,48,9323.0,Bjurholm,241,Ketogenic Diet 14 days,2025-04-25 11:50:32,Blood Melatonin,13/365 11:40,11.6 pg/mL,NaN,NaN,NaN,NaN
4,Britt Blomgren,https://islands.smp.uq.edu.au/islander.php?id=...,29,5094.0,Hofn,297,Ketogenic Diet 14 days,2025-04-25 11:50:36,Blood Melatonin,13/365 11:40,38.6 pg/mL,2025-05-02 10:40:55,Blood Melatonin,20/365 10:33,38.5 pg/mL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Kazuki Wilson,https://islands.smp.uq.edu.au/islander.php?id=...,38,8091.0,Hofn,185,Ketogenic Diet 14 days,2025-04-25 11:54:53,Blood Melatonin,13/365 11:45,29.0 pg/mL,2025-05-02 10:45:10,Blood Melatonin,20/365 10:38,29.5 pg/mL
73,Naoto Wilson,https://islands.smp.uq.edu.au/islander.php?id=...,33,4773.0,Bjurholm,181,no change,2025-04-25 11:54:58,Blood Melatonin,13/365 11:45,36.5 pg/mL,NaN,NaN,NaN,NaN
74,Blade Yamada,https://islands.smp.uq.edu.au/islander.php?id=...,68,592.0,Bjurholm,107,no change,2025-04-25 11:55:02,Blood Melatonin,13/365 11:45,3.1 pg/mL,2025-05-02 10:45:14,Blood Melatonin,20/365 10:38,5.0 pg/mL
75,Deepa Zaman,https://islands.smp.uq.edu.au/islander.php?id=...,30,7100.0,Hofn,188,Vegetarian Diet 14 days,2025-04-25 11:55:06,Blood Melatonin,13/365 11:45,44.4 pg/mL,2025-05-02 10:45:17,Blood Melatonin,20/365 10:38,47.3 pg/mL
76,Nadia Zaman,https://islands.smp.uq.edu.au/islander.php?id=...,28,6470.0,Hofn,715,no change,2025-04-25 11:55:10,Blood Melatonin,13/365 11:45,39.4 pg/mL,2025-05-02 10:45:21,Blood Melatonin,20/365 10:38,38.1 pg/mL

In [21]:
contacts_diets_02.to_csv("study_output_data.csv", index=False)